# Logs
logs
*.log

node_modules
dist
dist-ssr
*.local
.vite-cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Keys
keys/

# Others
.backup/
.tips/
.personal/
.playwright-mcp/