/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	overscroll-behavior: none;
	scroll-behavior: smooth;
}

.shine-through {
	/* position: absolute; */
	padding: 0 34px;
	color: #ffffff;
	background: linear-gradient(to right, #717171 0%, white 10%, #717171 20%);
	background-position: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 6s infinite linear;
	animation-fill-mode: forwards;
	-webkit-text-size-adjust: none;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
	white-space: nowrap;
}

@keyframes shine {
	0% {
		background-position: 0;
	}
	60% {
		background-position: 240px;
	}
	100% {
		background-position: 240px;
	}
}
